@media screen and (min-width: 900px){
  body {
      width: 900px;
      margin-right: auto;
      margin-left: auto;
  }


}

@media screen and (min-width: 800px){
  #boxes {
      .box2 {
        width: 100% ;
    }
  }
}
