@media screen and (min-width: 600px){
  .container .card  .left-card {
      display: block;
  }
  .container .card .inner-card {
      display: flex;
  }
  .container .card .right-card {
      width: 60%;
  }
  .container .card .left-card {
      width: 40%;
  }
}
@media screen and (min-width: 900px){
  body {
      width: 900px;
      margin-right: auto;
      margin-left: auto;
  }
}
