.container {
    min-height: 100%;
    font-size: 13px;
}

label{
    float: left;
}

.card{
    padding-top: 60px;
    padding-bottom: 60px;
    /*margin-left: 170px;*/
}

.container .card .inner-card{
    height: 100%;
    box-shadow: 0 8px 20px #e3e7ea;
}

.container .card .inner-card .top-text{
    padding-left: 383px;
    width: 930px;
    box-shadow: 0 8px 20px #e3e7ea;
}

.container .card  .left-card {
    left: 0;
    float: left;
    width: 50%;
    display: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: #6c2726;
    text-align: center;
    padding: 40px 30px;
    color: white;
}

.container .card  .right-card {
    /*width: 100%;*/
    border-top-right-radius: 6px;
    /* float: right; */
    border-bottom-right-radius: 6px;
    min-height: 500px;
    background-color: white;
    padding: 40px 45px;
    margin: 0;
    border: 1px solid #6c2726;
}

.container .card  .left-card h1 {
    font-size: 20px;
    letter-spacing: 1px;
    color: #ffffff;
    line-height: 29px;
    margin-bottom: 5px;
}

input{
    background-color: #f4f9fb;
    border: 0;
    margin-right: 100px;
    box-shadow: 0px 1px 1px 0px #E6E9EC;
    color: #555;
    margin-bottom: 20px;
    height: 40px;
    padding-left: 10px;
    width: 80%;
}

.turn{
    margin-top: 50%;
    color: #6c2726;
    text-decoration: none;
}

.login-button{
    margin-top: 20%;
}

hr{
    margin-top: 100px;
}

h3 {
    margin-top: 5% !important;
    color: #6c2726
}

#diary-image{
    margin-top: 160px;
}

#image-dairy{  width: 80%;  }
